# My first hello world in Python

In [1]:
print("Hello World")

Hello World

Indentation

In [2]:
x=3
if x<3:
    print("yes")
else:
    print("No")

No

In [3]:
#my first comment

In [7]:
"""
This is 1st comment
This is 2nd comment
"""
print("my comment")

my comment

In [8]:
#variables
#integer
age = 25
#float
temperature = 36.6
#string
greeting = "Hello World"

In [9]:
print(age)
print(temperature)
print(greeting)

25
36.6
Hello World

In [10]:
print("Age = ", age)
print("Temperature = ",temperature)
print("Greeting = ",greeting)

Age =  25
Temperature =  36.6
Greeting =  Hello World

# Data Type

In [11]:
print(type(age))
print(type(temperature))
print(type(greeting))

<class 'int'>
<class 'float'>
<class 'str'>

In [13]:
nocom = 2
print(type(nocom))

<class 'int'>

In [15]:
age = input("Umur Anda ?")
height = input ("Tinggi Anda ?")
weight = input("Berat Anda ?")

print(f"Jadi anda berumur {age}, dengan ketinggian {height} dan berat {weight}")

Umur Anda ? 40
Tinggi Anda ? 167
Berat Anda ? rahsia

Jadi anda berumur 40, dengan ketinggian 167 dan berat rahsia

In [17]:
fruits =  ["pisang", "epal", "strawberry"]

In [19]:
print("Buah Pertama : ",fruits[0])
print("Buah Kedua : ",fruits[1])
print("Buah Ketiga : ",fruits[2])

Buah Pertama :  pisang
Buah Kedua :  epal
Buah Ketiga :  strawberry

In [22]:
print(fruits[2])

strawberry

In [23]:
fruits[0] = "blueberry"

In [24]:
fruits[0] = "blueberry"

print("Buah Pertama : ",fruits[0])
print("Buah Kedua : ",fruits[1])
print("Buah Ketiga : ",fruits[2])

Buah Pertama :  blueberry
Buah Kedua :  epal
Buah Ketiga :  strawberry

In [25]:
coordinates = (10,20)
print(coordinates[0])
print(coordinates[1])

10
20

In [29]:
person = {"name" : "Beya", "age" : 40}
print("Nama :",person["name"])
print("Umur :",person["age"])

Nama : Beya
Umur : 40

In [30]:
person["name"] = "Nazatul Bahiyah binti Othman"

print("Nama :",person["name"])
print("Umur :",person["age"])

Nama : Nazatul Bahiyah binti Othman
Umur : 40

In [31]:
for x in fruits:
    print(x)

blueberry
epal
strawberry

In [32]:
a = 1
while a<10:
    print(a)
    a+=2

1
3
5
7
9

In [35]:
def fungsi(x,y):
    return 5*x+y
    
print(fungsi(2,3))
print(fungsi(7,5))
print(fungsi(8,3))

13
40
43

In [36]:
add = lambda x, y: x+y
print(add(3,5))

8